body {
    background-color: #bfe6ef;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #598f8c;
    padding: 25px;
    color: white;
    font-family: Hangout    ;

}
.login {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-left: 400px;
    margin-right: 400px;
    padding: 250px;
    padding-top: 30vh;
    background-color: #a66246;
    color: white;
    text-align: center;
}


