body {
    background-color: #bfe6ef;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #598f8c;
    padding: 25px;
    color: white;
    font-family: Hangout    ;

}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px auto; /* espaço do topo + centralização */
    padding: 40px;
    width: 400px; /* largura da caixa */
    height: 400px;
    background-color: #a66246;
    color: white;
}


