@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.cdnfonts.com/css/elastic');

body {
    background-color: #bfe6ef;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #598f8c;
    padding: 25px;
    color: white;
    a:not(.petlandia) {
      font-family:'Poppins', sans-serif;
    }
    .petlandia {
      font-family:'Elastic', sans-serif;
      font-size: 60px;
      letter-spacing: 2.4px;
    }
    a:not(.active) {
      color:#5fa4a4
    }
    .active {
      color: #23504e;
      font-size: 18.4px;
    }
}

.login-container {
  background-color: #a66246;
  padding: 40px;
  width: 420px;
  border-radius: 20px;
  border: 4px solid #5fa4a4;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.login-container h1 {
  margin: 0;
  font-size: 42px;
}

.subtitulo {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 18px;
}

.campo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.campo label {
  font-size: 16px;
}

.campo input {
  width: 220px;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #d79a6b;
}

button {
  margin-top: 20px;
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
  background-color: #d79a6b;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;

}

button:hover {
  opacity: 0.9;
}

.conteudo {
  min-height: calc(100vh - 80px); /* altura da tela menos o header */
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  background-color: #cfeff4;
}

.login-entrar {
  color: #23504e;
}

.patinhas {
  height: 200px;
  height: 200px;
  margin-top: -160px;
  margin-left: 720px;
}

/* Container que controla o layout */
.produtos {
  display: flex;
  margin-top: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  gap: 20px;  /* espaço entre produtos */
  flex-wrap: wrap; /* quebra linha se faltar espaço */
}

/* Cada produto */
.produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 275px;
  width: 225px;
  background-color: #dbffff;
  padding: 10px;
  border-radius: 8px;
}
