body {
    background-color: #bfe6ef;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #598f8c;
    padding: 25px;
    color: white;
    font-family: Hangout    ;

}
.login-container {
  background-color: #a66246;
  padding: 40px;
  width: 420px;
  border-radius: 20px;
  border: 4px solid #5fa4a4;
  color: white;
  text-align: center;
}

.login-container h1 {
  margin: 0;
  font-size: 42px;
}

.subtitulo {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 18px;
}

.campo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.campo label {
  font-size: 16px;
}

.campo input {
  width: 220px;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #d79a6b;
}

button {
  margin-top: 20px;
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
  background-color: #d79a6b;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.conteudo {
  min-height: calc(100vh - 80px); /* altura da tela menos o header */
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  background-color: #cfeff4;
}


